# List external packages here
# Avoid fixed versions
changelog2version>=0.12.1,<1
coverage>=7.13.5,<8
flake8>=7.3.0,<8
nose2>=0.16.0,<1
setup2upypackage>=0.5.0,<1
snippets2changelog>=1.6.0,<2
pre-commit>=4.5.1,<5
yamllint>=1.38,<2
